/* General Styles */
html{
  font-size: 16px;
  font-family: Helvetica;
  line-height: 1.4;
}

.base_container{
  max-width: 960px;
  margin: 0 auto;
}




/**/
                    /* Header Styles */
/**/
header{
position: fixed;
display: flex;
justify-content: space-between;
width: 100%;
height: 4rem;
background-color: #B1AFB2;
border-bottom: 1px solid #363636;
z-index: 10;
}

.logo_title{
  display: flex;
  align-items: center;
  height: 2rem;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo_title span{
  color: white;
  font-size: 1.5rem;

}

nav ul{
  display: flex;
  align-items: center;
  list-style: none;
  padding: 1.5rem;
}

nav ul li{
  padding-left: 1rem;
}

nav ul a{
  font-size: 1rem;
  font-family: Helvetica;
  color: white;
  text-decoration: none;
}


/**/
                    /* Banner Styles */
/**/
.banner{
  position: relative;
  top: 4rem;
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: #F1F0F5
}

.banner_image{
  width: 60%;
  padding: 2rem 1.5rem;
}

.banner_image img{
  max-width: 100%;
}

.banner_text{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
}

.banner_text h1{
  font-size: 2rem;

}

.banner_text h2{
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.banner_text .button{
  background-color: #B1AFB2;
  text-align: center;
  margin-top: 1.5rem;
  padding: 0.5rem;

}




/**/
                    /* Feature Styles */
/**/

.features{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin-top: 2rem;
}

.hero{
width: 60%;
display: flex;
flex: 1;
flex-direction: column;
padding: 2rem 1.5rem;
margin-top: 2rem;
border: 1px solid red;
}

.hero img{
  max-width: 100%;
}

.hero h1{
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.hero span{
  padding: 2rem 0;
}

.hero p{

}

.trending_box{
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  border: 1px solid blue;

}

.trending{
  display: flex;
  border: 1px solid green;
  margin-bottom: 0.25rem;
}

.trending_img{
width: 35%;
height: auto;
padding: 1rem;

}
.trending_img img{
max-width: 100%;
height: auto;
}

.trending_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;

}

.trending_text h3{
  padding-bottom: 0.5rem;

}

.trending_text p{
  padding-bottom: 0.5rem;
}

.trending_text a{

}

/**/
                    /* Courses Styles */
/**/
.courses{
  background-color: #F1F0F5;
}

.courses_headline{
  background-color: #F1F0F5;
  display: flex;
}

.courses_headline h1{
  text-align: center;
  margin: 2rem auto;
}

.course_grid{
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

.grid_item{
  border: 1px solid blue;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 2rem;

}

.item_image{
  border: 1px solid green;

}

.item_image img{
max-width: 100%;
height: auto;
}

.item_text{
  border: 1px solid magenta;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.item_text h3{
}

.item_text span{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

}

.item_text p{

}

/**/
                    /* Thesis Styles */
/**/
.thesis_headline{
  display: flex;
}

.thesis_headline h1{
  text-align: center;
  margin: 2rem auto;
}

.thesis{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.thesis_hero{
width: 60%;
height: auto;
display: flex;
flex: 1;
flex-direction: column;
padding: 2rem 1.5rem;
border: 1px solid red;
}

.thesis_hero_youtube{
  border: 1px solid cyan;
  justify-content: center;
  align-items: center;
  display: flex;
}
.fa-youtube{
  color: darkgrey;
}

.thesis_hero h1{
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.hero p{
  margin-bottom: 2rem;
}

.thesis_trending_box{
  width: 40%;
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  padding-top: 2rem;

}

.thesis_trending{
  display: flex;
  border: 1px solid green;
  margin-bottom: 0.25rem;
}

.thesis_trending_img{
width: 35%;
height: auto;
padding: 1rem;

}
.thesis_trending_img img{
max-width: 100%;
height: auto;
}

.thesis_trending_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;

}

.thesis_trending_text h3{
  padding-bottom: 0.5rem;

}

.thesis_trending_text p{
  padding-bottom: 0.5rem;
}



/**/
                    /* Footer Styles */
/**/
footer{
display: flex;
justify-content: space-between;
border: 1px solid red;
padding-bottom: 2rem;
}

.copyright{
display: flex;
border: 1px solid green;
padding-top: 1rem;
padding-left: 1.5rem;

}

.terms_privacy{
border: 1px solid blue;

}

.terms_privacy ul{
  display: flex;
  list-style: none;
  padding-top: 1rem;
  padding-right: 1.5rem;
}

.terms_privacy ul li{
  padding-left: 1rem;
}

.terms_privacy ul a{
  font-size: 1rem;
  text-decoration: none;
}
